
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color: #f1d7fe;
}
.nav-bar {
    background-color: #000000;
    padding: 15px 80px 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-bar h1{
     background: linear-gradient(to right, rgb(210, 155, 231), rgba(189, 117, 220, 0.638));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-bar h1 .avt{
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav-box {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-box a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;

}

.nav-box a:hover {
    color: rgb(222, 137, 253);
} */
.box{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
    margin-top: 50px;
}

.active {
    background-color: blue;
}
